.aff {

    font-size: 30px;
    color: black;

}

#nome {
    height: 35px;
    
}

.grupo{
       
        background: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


.container2{
	width: 60%;
	height: 100%;
    margin: 0 auto;
    
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}
